body {
    margin: 0;
    padding: 0;


    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
}

/* Header =======================*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 8px;

}

.nav-dropdown {
    display: block;
    width: auto;
    padding-top: 5px;
    margin-left: 30px;
}

.nav-dropdown-btn {
    border: none;
    background-color: black;
    cursor: pointer;
}

.nav-dropdown-btn img {
    width: 24px;

}


.header-logo {
    display: block;
    width: auto;
    height: 36px;
    max-width: 100%;
    margin-left: 20px;
    cursor: pointer;
}

.header-link-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding-right: 50px;

}

.header-link {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;

    opacity: 0.6;
    /* transition: 0.3s; */
}


.header-link img {
    margin-right: 8px;
    align-items: center;
}

.header-link span {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header-link a {
    color: #ffffff99;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

.header-link:hover {
    opacity: 1;
}

.header-search-container {
    display: flex;
    margin-left: 2px;

}

.header-search {

    width: 300px;
    margin-left: 10px;
    padding: 8px 0 8px 16px;
    font-size: 15px;
    font-weight: bold;

    border: 1px solid #2e2d2d;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    background: #2e2d2d;

}

.header-search:focus {
    border-color: #fff;
    background-color: #fff;
}

.header-tools-button {
    border: 1px solid #2e2d2d;
    background: #2e2d2d;
    cursor: pointer;
}

.header-tools-button img {
    filter: invert(75%);
    transition: filter 0.3s ease;
}

.header-tools-button img:hover {
    filter: brightness(0) invert(1);
}

.header-search-button {
    border: 1px solid #2e2d2d;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #2e2d2d;
    cursor: pointer;
}

.header-search-button img {
    filter: invert(75%);
    transition: filter 0.3s ease;
}

.header-search-button img:hover {
    filter: brightness(0) invert(1);
}

.header-bookmark {
    margin-left: 310px;
    margin-right: 10px;
    padding-top: 6px;
}

.free-movie-watch {
    width: 121px;
    min-width: 121px;
    max-height: 40px;
}

.free-movie-watch button {
    display: block;
    padding: 5px;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(90deg, #ff5c4d 0, #eb469f 26.56%, #8341ef 75%, #3f68f9 100%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.free-movie-watch button:hover {
    transform: scale(1.1);
}

.avatar-dropdown {
    margin-left: auto;
    margin-right: 50px;

}

.avatar-dropdown-btn {
    background: none;
    padding: 0;
    border: none;

}

.avatar-dropdown button img {
    width: 50px;
    padding: 0;
    margin-top: 1.6px;
    margin-left: 15px;
    border: 0.2px solid #2e2d2d;
    border-radius: 100%;
}


/* Скрываем список */
.avatar-link-group {
    display: none;
    position: absolute;
    top: 0px;
    width: 330px;
    right: -10px;
    margin-right: 40px;
    padding-bottom: 30px;

    background: black;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.avatar-link-group img {
    align-self: center;
    width: 60px;
    padding: 0;
    margin-top: 15px;
    border: 0.2px solid black;
    border-radius: 100%;
}

.avatar-link-group h3 {
    color: white;
    text-align: center;
    padding-top: 15px;
}

.avatar-link-group span {
    color: #ffffff99;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

.separator {
    border-bottom: 1px solid #2e2d2d;
    ;
    margin: 40px 30px 15px 30px;
}

.avatar-link-group a {
    display: block;
    padding: 7px 16px;
    border-radius: 12px;
    margin: 0 10px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar-dropdown:hover .avatar-link-group {
    display: flex;
    flex-direction: column;

}

.avatar-link-group a:hover {
    background-color: #2e2d2d;

}

.avatar-link-group a span {
    font-size: 20px;
    color: red;
}


/* End header =======================*/

.main-container {
    display: flex;
    width: 1280px;
    margin: 0 auto;

    background-color: #fff;
    border: 1px solid rgb(236, 231, 231);


}




.left-side {
    width: 200px;
    background-color: red;
    padding-bottom: 200px;
}

.content {
    width: 100%;
    background-color: greenyellow;
    padding-bottom: 200px;
}